<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>

  <% id = params['id'].to_i %>

    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n°<%= id %> </h2>
    <p> Son auteur : <%= gossip[id].author %> </p>
    <p> Son auteur : <%= gossip[id].content %> </p>
    <a href="/">Lien pour revenir à la page des potins</a>
    <p><a href="./edit/">Modifier son potin</a></p>


</html>